<app-navbar></app-navbar>
<div class="alert alert-danger d-flex align-items-center fixed-top" role="alert" *ngIf="showAlert">
  <div class="container-fluid row">
    <div class="col-6 col-md-6 text-start"> {{ alertMessage }} </div>

    <div class="col-6 col-md-6 text-end">
      <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="closeAlert()"></button>
    </div>
  </div>
</div>

<section class="container text-center">
  <label for="" class="display-5 p-3"> Ingresar nuevo usuario </label>
  <div class="card" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4 d-flex">
        <img src="../../../assets/avatar.png" class="img-fluid rounded-start p-3" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"> Ingresar datos </h5>

          <form [formGroup]="newUserForm" (ngSubmit)="createUser()" class="text-start form-floating">
            <div class="mb-3">
              <label for="inputName" class="form-label"> Nombre </label>
              <div class="form-text"> El nombre debe contener más de 6 carácteres </div>
              <input type="text" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': f.name.errors }">

              <div *ngIf="f.name.errors" class="invalid-feedback">
                <div *ngIf="f.name.errors.required"> El nombre es requerido </div>
              </div>
            </div>

            <div class="mb-3">
              <label for="inputEmail" class="form-label"> Correo </label>
              <div class="form-text"> Debes ingresar un correo válido </div>
              <input type="email" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': f.name.errors }">

              <div *ngIf="f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required"> El correo es requerido </div>
              </div>
            </div>

            <button type="submit" class="btn btn-primary"> Crear Usuario </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container text-center">
  <label for="" class="display-5 p-3"> Usuarios Registrados </label>

  <div class="alert alert-primary text-center" role="alert" *ngIf="emptyUsers === true; else showUsers">
    <div>
      No hemos encontrado usuarios registrados
    </div>
  </div>

  <ng-template #showUsers>
    <div class="card mb-3" style="max-width: 540px;" *ngFor="let user of users">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/avatar-small.png" class="img-fluid rounded-start p-3" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"> {{ user.nombre }} </h5>

            <p class="m-0 fw-bold"> Correo:
              <span class="fw-light"> {{ user.correo }} </span>
            </p>
            <p class="m-0 fw-bold"> Saldo: <span class="fw-light"> {{ user.saldo }} </span> </p>
          </div>

          <div class="card-footer">
            <div class="row text-center">
              <div class="col-6 col-md-6">
                <!--  -->
                <button class="btn btn-primary text-start" (click)="goToEdit(user)"> Editar </button>
              </div>

              <div class="col-6 col-md-6">
                <button class="btn btn-danger text-end" (click)="deleteUser( user._id )"> Eliminar </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</section>
