<section class="container-fluid px-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"> Juego Ruleta </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- historial -->
          <li class="nav-item">
            <a class="nav-link"  aria-current="page" routerLink="/"> Historial </a>
          </li>

          <!-- Usuarios -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/users"> Usuarios </a>
          </li>

          <!-- Jugar -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/roulette"> Iniciar Ruleta </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>
