<section class="container-fluid px-0">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/"> Juego Ruleta </a>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- historial -->
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/"> Historial </a>
          </li>

          <!-- Usuarios -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/users"> Usuarios </a>
          </li>

          <!-- Jugar -->
          <li class="nav-item">
            <a class="nav-link" routerLink="/roulette"> Iniciar Ruleta </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</section>

<section class="container-fluid">
  <h1 class="text-center text-indigo py-3"> <u> Rondas Transcurridas </u></h1>

  <div class="card mx-5">
    <div class="card-body">
      <div class="row">
        <!-- RONDA -->
        <div class="col-1 col-md-1">
          <p class="display-6"> n° </p>
          <span class="display-6"> 1 </span>
        </div>

        <!-- jugadores y sus apuestas-->
        <div class="col-9 col-md-9">
          <div class="row">
            <div class="col-2 col-md-2 py-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- color que ha salido -->
        <div class="col-2 col-md-2 color-roulette">
          <p class="display-6"> color </p>
        </div>
      </div>
    </div>
  </div>
</section>


