<app-navbar></app-navbar>

<section class="container-fluid">
  <h1 class="text-center text-indigo py-3"> <u> Rondas Transcurridas </u></h1>

  <div class="card mx-5">
    <div class="card-body">
      <div class="row">
        <!-- RONDA -->
        <div class="col-1 col-md-1">
          <p class="display-6"> n° </p>
          <span class="display-6"> 1 </span>
        </div>

        <!-- jugadores y sus apuestas-->
        <div class="col-9 col-md-9">
          <div class="row">
            <div class="col-2 col-md-2 py-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>

            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
            <div class="col-2 col-md-2 py-2">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title"> Usuario 1 </h5>
                  <p class="card-text"> <b class="text-primary"> Apuesta:</b> $ 10000</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- color que ha salido -->
        <div class="col-2 col-md-2 color-roulette">
          <p class="display-6"> color </p>
        </div>
      </div>
    </div>
  </div>
</section>


