<app-navbar></app-navbar>

<section class="container-fluid">
  <h1 class="text-center text-indigo py-3"> <u> Rondas Transcurridas </u></h1>

  <div class="alert alert-primary text-center" role="alert" *ngIf="emptyRounds === true; else showRounds">
    <div>
      No hemos encontrado rondas jugadas
    </div>
  </div>

  <ng-template #showRounds>
    <ol class="list-group list-group-numbered">
      <li class="list-group-item justify-content-between align-items-start py-2"
          *ngFor="let round of rounds">
          <span class="badge rounded-pill bg-dark mx-3 px-3"> Fecha ronda: {{ round.fecha }} </span>
        <div class="row px-3">
          <!-- jugadores y sus apuestas-->
          <div class="col-10 col-md-10">
            <div class="row">
              <div class="col-2 col-md-2 py-2 py-2" *ngFor="let usr of round.apostadores">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"> {{ usr.nombre }} </h5>
                    <p class="card-text"> <b class="text-primary"> Apuesta:</b> ${{ usr.apuesta }} </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- color que ha salido -->
          <div class="col-2 col-md-2 color-roulette">
            <div class="card m-0" style="max-width: 18rem;" [ngClass]="'border-' + round.resultado">
              <div class="card-body">
                <h5 class="card-title text-uppercase text-center m-0" [ngClass]="'body-' + round.resultado"> {{ round.resultado }} </h5>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </ng-template>
</section>


